# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Evolution API
DATABASE_ENABLED=
DATABASE_PROVIDER=
DATABASE_CONNECTION_URI=
DATABASE_CONNECTION_CLIENT_NAME=
DATABASE_SAVE_DATA_INSTANCE=
DATABASE_SAVE_DATA_NEW_MESSAGE=
DATABASE_SAVE_MESSAGE_UPDATE=
DATABASE_SAVE_DATA_CONTACTS=
DATABASE_SAVE_DATA_CHATS=
DATABASE_SAVE_DATA_LABELS=
DATABASE_SAVE_DATA_HISTORIC=
CACHE_REDIS_ENABLED=
AUTHENTICATION_API_KEY=
EVOLUTION_SERVER_URL=